html { scroll-behavior: smooth; } 

body {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  background-color: #0E0E10;
  color: #FBFFFF;
}

h1 {
  font-weight: 800;
  font-style: normal;
  font-size: clamp(3rem, 6vw, 5rem);
}

h2 {
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
}



.carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.social-columns {
  display: flex;
  flex-direction: column;
  position: fixed; 
  bottom: 0;
}

.social-row {
  display: flex;
  flex-direction: row;
}

.position-desc {
  width: 100%;
}

.about-section {
  width: 90%;
  font-size: 56px;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/* Containers for sidebar and main page */
.container-sidebar {
  height: 100vh; 
  margin-top: 8rem;
  flex: 0 0 15%;
  max-width: 15%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.container-main {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex: 0 0 80%;
  max-width: 80%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 15%;
  margin-right: 5%;
}

/* Containers for sections of main page */
.container-about {
  height: 100vh;
}

.container-background {
  height: 100%;
}

.container-gallery {
  height: 100%;
}

.container-footer {
  display: none;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding: 10px;
}

.nav-link {
  color: #FBFFFF;
  padding: 0px;
}

.footer-title {
  font-size: 32px;
}

.experience-section {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}

.experience-section-right {
  margin-left: 50%;
  text-align: right;
}

.experience-block {
  display: flex;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.navbar {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  height: 10vh;
}

.navbar-dark .navbar-toggler-icon{
  background-image: url(http://www.w3.org/2000/svg)!important;
}

.navbar-collapse {
  transition: all 1s;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Dark overlay effect */
  z-index: 1000;
  height: 90vh;
}

.navbar-nav {
  display: flex;
  text-align: center;
  font-size: 50px;
  margin-top: 10%;
  margin-bottom: 90%;
}


/* Tablet */
@media screen and (max-width: 900px) {
  .container-sidebar {
    display: none;
  }

  .container-main {
    flex: auto;
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .container-background {
    height: 100vh;
  }

  .container-footer {
    display: flex;
  }

  .position-desc {
    width: 80%;
  }

  .experience-section {
    flex: auto;
    max-width: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }

  .experience-section-right {
    margin-left: 0%;
    text-align: left;
  }

  .experience-block {
    align-items: normal;
    height: auto;
  }

  .navbar {
    display: flex;
  }
  
}

/* Mobile */
@media screen and (max-width: 600px) {

}