html { scroll-behavior: smooth; } 

body {
  font-family: 'Overpass', sans-serif;
  /*background-image: url("./background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;*/
  color: white;
}

#background-wrap {
  /*
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  */
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position:center;
  top: 0; right: 0;
  z-index: -1000;
  background-image: url('./background.png')
}

nav {
  background-color: #19262800;
  margin-bottom: 20%;
}

footer {
  padding-top: 20px;
  background-color: #00000000;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.bio-image {
  width: 300px;
  height: 300px
}

.bio-image-frame {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  
}

.navbar-toggler {
  border: 0;
}

.section {
  background-color: #000000b6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.subsection-title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.footer-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.subsection {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.scroll-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 50px;
}

.quote {
  font-style: italic;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.gallery-frame {
  width: 300px;
  height: 400px;
  margin: 15px;
  background-color: gray;
}

.btn-light {
  color: white;
  border-color: #12444E;
  border-width: 0.2rem;
  background-color: #034E5D;
}

.btn-light:hover {
  color: #151F22;
  background-color: white;
  border-color: white;

}

.btn-down {
  color: white;
  height: 50px;
  width: 50px;
  padding: 1rem;
  border: 0;
  border-radius: 100%;
  vertical-align: middle;
  line-height: 1em;
}

.btn-sc {
  height: 60px;
  width: 60px;
  padding: 1rem;
  border-radius: 0.66666rem;
}

.fa-xl {
  font-size: 1.66666666em;
  line-height: 1em;
  vertical-align: -15%;
}

/* DEVICE SPECIFIC STYLES */

/* Mobile */
.margin {
  padding-left: 14px;
  padding-right: 14px;
}

/* Tablet */
@media (min-width:600px) {
  .margin {
    padding-left: 20px;
    padding-right: 20px;
  }

  .scroll-button {
    margin-top: 20%;
  }

  nav {
    margin-bottom: 15%;
  }
}

/* Desktop */
@media (min-width:900px) {
  .margin {
    padding-left: 24px;
    padding-right: 24px;
  }

  .scroll-button {
    margin-top: 10%;
  }


  nav {
    margin-bottom: 15%;
  }
}