html { scroll-behavior: smooth; } 

body {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  background-color: #0E0E10;
  color: #FBFFFF;
}

h1 {
  font-weight: 800;
  font-style: normal;
  font-size: clamp(3rem, 6vw, 5rem);
}

h2 {
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
}

.carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.social-columns {
  display: flex;
  flex-direction: column;
  position: fixed; 
  bottom: 0;
}

.social-row {
  display: flex;
  flex-direction: row;
}

.position-desc {
  width: 50%;
}

.about-section {
  width: 90%;
  font-size: 56px;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.container-sidebar {
  height: 100vh; 
  margin-top: 8rem;
}

.container-main {
  height: 100vh;
  padding-top: 50px;
}

.container-background {
  height: 100%;
}

.container-gallery {
  height: 100%;
}

.container-about {
  height: 100%;
}

.container-footer {
  display: none;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding: 10px;
}

.nav-link {
  color: #FBFFFF;
  padding: 0px;
}

.footer-title {
  font-size: 32px;
}




.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}


/* Tablet */
@media screen and (max-width: 900px) {
  .container-sidebar {
    display: none;
  }

  .container-main {
    flex: auto;
    max-width: 100%;
    margin-left: 0%;
  }

  .container-footer {
    display: flex;
  }

  .position-desc {
    width: 80%;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {

}